<script>
//Message for Terms and Conditions ---------------------------------------------------------------//
    var id = document.getElementsByClassName('step__footer')[0]; 
    var s = document.createElement('p');
      
  	s.innerHTML = '<br />' + '<p style="text-align: justify; font-style: italic; color:red;">' + '<input class="input-checkbox" data-backup="buyer_accepts_disclaimer" type="checkbox" value="1" id="checkout_buyer_accepts_marketing" required>' + ' Please be advised that by checking this box, you acknowledge that this purchase is not eligible for any refund but you may receive a store credit in the amount of the retail purchase price of the ticket. </p>' + '<br />'; 
    s.className = 'main__footer';
    id.parentNode.insertBefore(s, id);
  
  	
      
    //Message for Terms and Conditions -----------------------------------------------------------//
  
</script>