<div class="newsletter">
  <form accept-charset="UTF-8" action="https://sp204.infusionsoft.com/app/form/process/9429bd1b63051547ee061f5dc6895046" class="infusion-form" method="POST">
    <input name="inf_form_xid" type="hidden" value="9429bd1b63051547ee061f5dc6895046" />
    <input name="inf_form_name" type="hidden" value="Shopify Grantcardone.com" />
    <input name="infusionsoft_version" type="hidden" value="1.69.0.90" />
    
    <div class="infusion-field">
        <input class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" required placeholder="Enter your email address..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
    </div>
    
    <div class="infusion-submit">
    <input type="submit" value="Submit" />
    </div>
  </form>
</div>